<style>

/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: darkturquoise;
    color: grey;
    text-align: center;
    padding: 15px;
}

/* Títulos */
h1, h2, h3 {
    color: #333;
}

/* Secciones */
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

/* (perfumes recomendados) */
article {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Imágenes */
img {
    border-radius: 10px;
    margin-top: 10px;
}

/* Aside */
aside {
    background-color: #e3e3e3;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

/* Botón */
button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
}

</style>